<div class="container" style="background-color:rgb(154, 163, 173); width: 600px; height: auto; padding-bottom: 10px;">
    <h3>Centro de mensajes</h3>
    <br>
    <hr size="5px">
    <br>
    <div id="chat"></div>
    <hr size="5px">
    <input type="text" id="texto">
    <button type="button" id="enviar">Enviar</button>
</div>